body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 1.3;
    color: #E2E4E6;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

p {
    color: #8f8f8f;
}

hr {
    margin: 0;
    height: 2px;
    color: #6d6d6d;
}


/* Navigation Bar */

.navbar-brand {
    font-size: 2.0rem;
    /* padding-left: 10px;
    border-left-width:2px;
    border-left-style:solid;
    border-left-color:#8f8f8f;
    border-bottom-width:2px;
    border-bottom-style:solid;
    border-bottom-color:#8f8f8f; */
}

.ni {
    margin: auto 20px auto auto;
    font-size: 1.4rem;
}

.nb {
    font-family: 'Ubuntu bold700', sans-serif;
    /* padding-bottom: 1.5rem; */
    transition: 0.3s;
}

.nav-fluid {
    position: fixed;
    padding: 1% 6% 1% 6%;
    transition: 0.32s;
    z-index: 10;
}

.sticky {
    background-color: #080d11;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.45);
    padding: 0.1% 6% 0.1% 6%;
}

.nav-fluid.sticky {
    /* opacity: 0.98; */
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #8f8f8f;
}

.nav-item {
    padding: 0 5px 0 5px;
}

/* Main Body */

.bg-image {
    background-image: url("images/blue_bg.PNG");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    height: 800px;
    /* Needed to position the navbar */
    position: relative;
    /* background-attachment: fixed; */
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #8f8f8f;
}

.entire-body {
    background-color: #080d11;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #8f8f8f;
}

.mb-shadow {
    box-shadow: 10px 0 0 0 rgba(0,0,0,0.5);
}

/* bio */
/* #bio {
    height: 500px;
} */

.price-row {
    padding: 0;
}

.profile {
    padding: 10%;
}

.profile-pic {
    border-width: 2px;
    border-style: solid;
    border-color: #a37e3a;
    width: 60%;
    padding: 5%;
    box-shadow: 0 0 0 5px #080d11,
    0 0 0 9px #2742b5;
}

.profile-pic-col {
    /* border-width: 2px;
    border-style: solid;
    border-color: #8f8f8f; */
    padding: 5px;
    text-align: center;
}

/* .ppcb {
    border-width: 2px;
    border-style: solid;
    border-color: #8f8f8f;
    margin-left: 20%;
    margin-right: 20%;
    padding: 5px;
    text-align: center;
} */

.profile-text-col {
    margin-top: 30px;
    padding: 5px;
    text-align: left;
}

/* gallery */
/*
#gallery {
    height: 500px;
}
*/
/*
#NatGG {
    height: 500px;
}
*/
/* media queries */

/* footer */
#footer {
    text-align: center;
}

.social-icon {
    margin: 50px 30px 50px 30px;
    color: #8f8f8f;
}

.footer-class {
    height: 240px;
    background-color: #080d11;
}

.ig:hover {
    color: #bcbcbc;
}
.ig:active {
    color: white;
}
.mail:hover {
    color: #bcbcbc;
}
.mail:active {
    color: white;
}
.git:hover {
    color: #bcbcbc;
}
.git:active {
    color: white;
}
.li:hover {
    color: #bcbcbc;
}
.li:active {
    color: white;
}

@media (max-width: 1680px) {
    .bg-image {
        background-image: url("images/blue_bg.PNG");
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
        /* Needed to position the navbar */
        position: relative;
    }
    .footer-class {
        height: 210px;
        background-color: #080d11;
    }
}

@media (max-width: 1000px) {
    .bg-image {
        background-image: url("images/blue_bg.PNG");
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
        /* Needed to position the navbar */
        position: relative;
    }
    .navbar-brand {
        font-size: 1.8rem;

    }
    
    .ni {
        margin: auto 20px auto auto;
        font-size: 1.4rem;
    }
    .footer-class {
        height: 180px;
        background-color: #080d11;
    }
    h1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 1.4;
    }
    
    h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 1.8rem;
        line-height: 1.2;
        color: white;
    }
    
    h3 {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 0.9rem;
    }
}

@media (max-width: 600px) {
    .bg-image {
        background-image: url("images/blue_bg.PNG");
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        height: 280px;
        /* Needed to position the navbar */
        position: relative;
    }
    .navbar-brand {
        font-size: 1.3rem;
    }
    
    .ni {
        margin: auto 20px auto auto;
        font-size: 1.0rem;
    }
    .footer-class {
        height: 150px;
        background-color: #080d11;
    }
    h1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 1.9rem;
        line-height: 1.2;
    }
    
    h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 0.9rem;
        line-height: 1.0;
        color: white;
    }
    
    h3 {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 0.5rem;
    }
}